apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-docassemble-service
spec:
  selector:
    app: {{ .Release.Name }}-docassemble
  ports:
    - port: 80
      targetPort: 80
      name: http
      protocol: TCP
    - port: 5000
      targetPort: 5000
      name: wshttp
      protocol: TCP
